* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Estilo do body */
body {
  background-color: #f5f5f5; /* Cinza claro para o fundo */
  color: #333; /* Cinza escuro para o texto */
  line-height: 1.6;
  padding: 20px;
}